$card-one: #914366;
$card-two: #FF7A00;
$card-three: #0FADC4;


.specials-row {
  display: flex;
}

.specials-card {
  border: 1px solid #979797;
  background-color: #FFF;

  & .price {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    &:before {
      content: '$';
      font-size: 45px;
      position: relative;
      left: -10px;
      top: -20px;
    }
  }

  &:nth-child(1) {
    border-top: 10px solid $card-one;
    color: $card-one;
  }
  &:nth-child(2) {
    border-top: 10px solid $card-two;
    color: $card-two;
  }
  &:nth-child(3) {
    border-top: 10px solid $card-three;
    color: $card-three;
  }

}

//.specials-card {
//  background-color: white;
//  border: solid 1px #979797;
//  border-radius: 11px;
//  height: 100%;
//  padding-bottom: 20px;
//  & h5 {
//    line-height: 1.2;
//    padding-top: 10px;
//  }
//}
//
//.specials-1 {
//  background: #914366;
//  color:#914366;
//}
//.specials-2 {
//  background: #FF7A00;
//  color:#FF7A00;
//}
//
//.specials-3 {
//  background: #0FADC4;
//  color:#0FADC4;
//}
//.specials-row p {
//  font-size:18px;
//  line-height:25px !important;
//  margin-top:20px;
//}
//.specials-label {
//  font-size:14px;
//}
//
//.specials-save {
//  font-size:18px;
//  text-transform:uppercase;
//  background:none;
//}
//#summer-specials .col-md-4 {
//  border-radius:8px;
//  padding:0;
//  margin-left:20px;
//  margin-right:20px;
//  height:452px;
//  background:#FFF;
//  margin-bottom:50px;
//}
//#summer-specials .container {
//  padding-left:0;
//  padding-right:0;
//}
//.specials-row {
//  display:flex;
//  text-align:center;
//}
//.specials-top {
//  height:196px;
//  padding-top:15px;
//  border-radius:8px 8px 0px 0px;
//}
//.specials-circle {
//  position:relative;
//  border:7px solid #FFF;
//  width:146px;
//  height:146px;
//  border-radius:50%;
//  top:-73px;
//  margin:0 auto;
//  margin-bottom:-73px;
//}
//.specials-bottom {
//  padding-top:10px;
//  padding-left:12.5px;
//  padding-right:12.5px;
//}
//.specials-save {
//  font-size:18px;
//}
//.price {
//  font-size: 78px;
//  color: #FFF;
//  position: absolute;
//  padding-top: 5px;
//  padding-left: 10px;
//  width: 100px;
//  left: 50%;
//  margin-left: -45px;
//}
//.price:before {
//  content: '$';
//  font-size: 30px;
//  color: #FFF;
//  position: absolute;
//  left: -10px;
//  top: 40px;
//}
//.price-free {
//  font-size: 46px;
//  color: #FFF;
//  position: absolute;
//  padding-top: 30px;
//  padding-left: 0px;
//  width: 100px;
//  left: 50%;
//  margin-left: -50px;
//}
//.dollar {
//  display: none;
//}
//.specials-row h5 {
//  font-size:32px;
//  color:#FFF;
//}
//
//@media (max-width:1199px) {
//  .specials-row p {
//    margin-top:10px;
//  }
//}
//@media (max-width:991px) {
//  .specials-row {
//    display:inherit;
//  }
//  #summer-specials .col-md-4 {
//    max-width:400px;
//    margin:0 auto;
//    margin-bottom:50px;
//  }
//}
//
//.specials-bottom p.specials-last {
//  margin-top: 45px;
//}