$card-one: #914366;
$card-two: #FF7A00;
$card-three: #0FADC4;


.specials-row {
  @media screen and (min-width: $width-md) {
    display: flex;
  }
}

.specials-card {
  border: 1px solid #979797;
  background-color: #FFF;

  & .price {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    &:before {
      content: '$';
      font-size: 45px;
      position: relative;
      left: -10px;
      top: -20px;
    }
  }

  &:nth-child(1) {
    border-top: 10px solid $card-one;
    color: $card-one;
  }
  &:nth-child(2) {
    border-top: 10px solid $card-two;
    color: $card-two;
  }
  &:nth-child(3) {
    border-top: 10px solid $card-three;
    color: $card-three;
  }

}
