body {
  color: #9B9B9B;
}
//
//.font-dark-blue {
//  color: #36459A !important;
//}
//
//.font-dark-green {
//  color: #5F7812;
//}
//
//.font-green {
//  color: #A6AF14;
//}
//
//.font-grey {
//  color: #80816F;
//}
//
.font-white,
a.font-white {
  color: #ffffff !important;
}
//
//.font-gold {
//  color: #F7DD00;
//}
//
.font-shadowed {
  text-shadow: 2px 2px 5px #000;
}
//
//.bg-white {
//  background-color: #FFF;
//}
//
//.bg-green {
//  background-color: #A6AF14;
//}
//
//.bg-light-green {
//  background-color: #f3f4ef;
//}
//
//.btn.btn-slider {
//  background-color: rgba(0,0,0,0);
//  color: #FFF;
//}
//
//a.btn.btn-slider:hover {
//  background-color: #E7E7E7;
//  color: #4A4A4A;
//}
//
//.btn.btn-style-2 {
//  background-color: rgba(0,0,0,0);
//  border-color: #5F7812;
//  color: #5F7812;
//}
//
//a.btn.btn-style-2:hover {
//  background-color: rgba(95, 120, 18, 0.20);
//  color: #5F7812;
//}
//
//.btn.btn-style-3 {
//  background-color: #A6AF14;
//  border-color: #FFF;
//  color: #FFF;
//}
//
//a.btn.btn-style-3:hover {
//  background-color: #838c14;
//  color: #FFF;
//}

.font-orange {
  color: #ff7a00;
}

.font-teal {
  color: #0fadc4;
}

.font-dark-teal {
  color: #3b4143;
}

.font-green {

  color: #718f11;

}
